html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  background: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Add some horizontal padding */
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0; /* Prevents the header from shrinking */
}

.top-container h1 {
  margin: 0; /* Removes default margins that cause misalignment */
  text-align: center;
  flex-grow: 1; /* Allows the title to take up available space */
  color: #000000;
}


.logo {
  width: 160px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  color:black;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  width: fit-content;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.body-container h2 {
  color: black;
  font-weight: 100;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.status-indicator.connected {
  background: #4CAF50;
}

.status-indicator.error, .status-indicator.disconnected {
  background: #f44336;
}

.connection-status {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.status-connected {
  color: #2E7D32;
}

.status-error {
  color: #F57C00;
}

.status-disconnected {
  color: #C62828;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal columns */
  gap: 20px; /* Add space between the columns */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally in the column */
  justify-content: flex-start; /* Distribute space vertically */
  gap: 20px;
}

.video-container img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.spherical-container {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.vibration-container {
  display: flex;
  flex-direction: row;
}

.comms-container {
  display: flex;
  flex: row;
}

.spherical-graph {
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 275px;
}

.vibration-chart {
  height: 350px;
  width: 350px;
}

.comms-graph {
  height: 275px;
  width: 300px;
  border: 1px solid #000000;
  margin-right: 10px;
}

.sop-text {
  position: absolute;
  left: -60px;
  top: 63%;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 24px;
  color: #000000;
}

.spherical-graph > div {
  flex: 1;
}